h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 64px;    
}

img {
    height: 200px;
    margin: 0 auto;
    display: block;
}

li {
    list-style-type: none;
}

.devoured {
    font-style: italic;
    color: lightgrey;
}